body {
    background: #e3e5de;
    font-family: 'Roboto', sans-serif;
}
.hero-wrap {
    text-align: center;
    background: url(light-sharp-edges.png) left top repeat;
    padding: 180px 0px 180px 0px;
}
.hero-wrap h1 {
    color: #FFF;
    font-size: 4rem;
}
.hero-wrap img.octocat {
    width: 300px;
    height: 300px;
}
.git-tutorials-wrap {
    padding: 175px 0px;
}
.git-other-resources-wrap {
    padding: 175px 0px 150px 0px;
    background: #FFF;
}
.git-top-tier-resources {
    padding: 175px 0px;
    background: #FFF;
}
.git-top-tier-resources h3 {
    margin-top: 10px;
    font-size: 1.3rem;
    margin-bottom: 25px;
}
.item {
    overflow: hidden;
}
.item h3 {
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 1.3rem;
}
.icon {
    margin-right: 15px;
    color: #ef4b24;
}
.git-cheat-sheet {
    width: 100%;
}
.steroid-cat {
    width: 100%;
    margin-top: -65px;
}
a {
    color: #00529b;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
.btn-primary {
    background: #6c9bc3;
    border: 1px solid #6c9bc3;
}
a.btn-primary:hover {
    background: #9ad2e1;
    border: 1px solid #9ad2e1;
}
.tagline {
    color: #CCC;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 10px 0px 25px 0px;
}
.section-heading {
    margin: 0px 0px 70px 0px;
    text-transform: uppercase;
    font-size: 2rem;
}
.c-dark-orange {
    color: #ff4a00;
}
.c-light-orange {
    color: #e9b284;
}
.c-medium-blue {
    color: #6c9bc3;
}
.c-light-blue {
    color: #9ad2e1;
}
.c-taupe {
    color: #c1c3b2;
}
.c-medium-grey {
    color: #8f949a;
}
.git-gui-box {
    padding: 50px;
    margin-bottom: 50px;
    color: #FFF;
}
.git-gui-box:hover {
    opacity: .8;
}
.bitbucket {
    background: #59afe1;
    background: #205081;
}
.sourcetree {
    background: #59afe1;
}
.github {
    background: #f9f9f9;
    color: #000;
}
.github-desktop {
    background: #000;
}
.gitkraken {
    background: #149287;
}
.gitlab {
    background: #6B4FB9;
}
