body {
    background: #e3e5de;    
}
.hero-wrap {
    text-align: center;
    background: url(light-sharp-edges.png) left top repeat;
    padding: 180px 0px 180px 0px;
}
.hero-wrap h1 {
    color: #FFF;
    font-size: 4rem;
}
.hero-wrap img.octocat {
    width: 300px;
    height: 300px;
}
.git-tutorials-wrap {
    padding: 100px 0px;
}
.git-other-resources-wrap {
    padding: 100px 0px;
    background: #FFF;
}
.item {
    overflow: hidden;
}
.item h3 {
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 120%;    
}
.icon {
    margin-right: 15px;
    color: #ef4b24;
}
.git-cheat-sheet {
    width: 100%;
}
.steroid-cat {
    width: 100%;
    margin-top: -25px;
}
a {
    color: #00529b;
}
.btn-primary {
    background: #ef4b24;
    border: 1px solid #ef4b24;
}
a.btn-primary:hover {
    background: #6c9bc3;
    border: 1px solid #6c9bc3;    
}
.tagline {
    color: #CCC;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 10px 0px 25px 0px;
}